.Rproj.user
Project 2 Baseball.Rproj
.local/*
.rstudio/*
Rplots.pdf*
.config/*
.gitconfig/*
derived_data/*.csv
derived_graphics/*.png
.Rdata
.Rhistory
.Rproj.user/
scratch_work.rmd
.Rproj.user
Analysis.pdf